body {
  background: #ccc;
  font-family: Arial;
}

.post {
  padding: 10px;
  background: #eee;
}
.post .post-body {
  padding: 20px;
  background: #fafafa;
  padding-bottom: 20px;
}
.post header {
  border-radius: 3px;
  background: #fafafa;
  padding: 5px;
}
.post header .title {
  display: block;
  width: 100%;
  font: normal small-caps 1.4em Times New Roman, sans-serif;
}
.post header .title .timestamp {
  font-size: 0.7em;
  font-style: italic;
}
.post header .details .glyphicon {
  height: 25px;
  vertical-align: top;
}
.post header .details .timestamp {
  display: inline-block;
  font-size: 0.9em;
  font-style: italic;
}
.post header .details .tags {
  display: inline-block;
  clear: both;
  margin: 5px;
  font: small-caps normal 1.2em Arial;
}
.post header .details .tags .tag {
  vertical-align: top;
  margin: 1px;
  padding: 1px;
}
.post .content {
  background: #fafafa;
  margin: 5px;
  padding: 5px;
}
.post .content p {
  text-indent: 25px;
}
.post .content img {
  padding: 10px;
  background: #eee;
  display: block;
  width: 80%;
  margin: 0 auto;
}
.post-sidebar {
  background: #eee;
}
.post-sidebar .tag-listings {
  padding: 5px;
}
.post-sidebar .tag-listings .label {
  display: inline-block;
  margin: 2px;
  padding: 2px 4px;
}

