@require 'variables'
.post
  padding 3px
  margin 3px

  background primary-color
  .post-body
    padding 2px
    background secondary-color
  header
    //background tertiary-color
    padding 5px

    .title
      display block
      width 100%
      font small-caps bold 1.8em Times New Roman, sans-serif
      h1
        margin-bottom 0
      a
        font-weight bold
        color black

        &:hover
          //color secondary-color
          text-decoration underline

      .timestamp
        font-style italic

    .details
      .glyphicon
        vertical-align top
      .timestamp
        display inline-block
        font-size 0.9em
        font-style italic

      .tags
        display inline-block
        clear both
        margin 5px
        font small-caps normal 1.2em Arial
        .tag
          vertical-align top
          margin 1px
          padding 1px

  .content, .summary
    p
      text-indent 25px
      font-size 1.2em
    //background tertiary-color
    margin 0px
    padding 5px
    img
      padding 5px
      background primary-color
      display block
      width 40%
      margin 0 auto


.post-search
  background primary-color
  .tag-listings
    padding 1px
    //background secondary-color
    //text-align center
    .tag-checkbox
      input[type="checkbox"]
        display none
      input[type="checkbox"]:checked + .label
          background blue
    .label
      font-size 0.9em
      font-weight normal
      display inline-block
      margin 2px
      padding 2px 5px

.tag-listings
  li a
    padding-right 10px
