@import 'variables'
.post
  padding 10px

  background primary-color
  .post-body
    padding 20px
    background secondary-color
    padding-bottom 20px
  header
    border-radius 3px
    background secondary-color
    padding 5px

    .title
      display block
      width 100%
      font normal small-caps 1.4em Times New Roman, sans-serif

      .timestamp
        font-size 0.7em
        font-style italic

    .details
      .glyphicon
        height 25px
        vertical-align top
      .timestamp
        display inline-block
        font-size 0.9em
        font-style italic

      .tags
        display inline-block
        clear both
        margin 5px
        font small-caps normal 1.2em Arial
        .tag
          vertical-align top
          margin 1px
          padding 1px

  .content
    p
      text-indent 25px
    background secondary-color
    margin 5px
    padding 5px
    img
      padding 10px
      background primary-color
      display block
      width 80%
      margin 0 auto


.post-sidebar
  background primary-color
  .tag-listings
    padding 5px
    .label
      display inline-block
      margin 2px
      padding 2px 4px

      
