@import 'variables'
.post
  padding 10px

  background primary-color
  .post-body
    padding 20px
    background secondary-color
    padding-top 0px
  header
    border-radius 3px
    background tertiary-color
    padding 5px
    margin-bottom 10px

    .title
      display block
      width 100%
      font normal small-caps 1.8em Times New Roman, sans-serif

      .timestamp
        font-style italic

    .details
      .glyphicon
        vertical-align top
      .timestamp
        display inline-block
        font-size 0.9em
        font-style italic

      .tags
        display inline-block
        clear both
        margin 5px
        font small-caps normal 1.2em Arial
        .tag
          vertical-align top
          margin 1px
          padding 1px

  .content
    p
      text-indent 25px
    background tertiary-color
    margin 5px
    padding 5px
    img
      padding 10px
      background primary-color
      display block
      width 80%
      margin 0 auto


.post-search, .post-sidebar
  background primary-color
  .tag-listings
    padding 5px
    .tag-checkbox
      input[type="checkbox"]
        display none
      input[type="checkbox"]:checked + .label
          background blue
    .label
      font-size 1.0em
      font-weight normal
      display inline-block
      margin 2px
      padding 5px

      
